* {
    font-family: inherit;
    color: inherit;
    font-size: inherit;

}
form {
    padding: 2em;
    display: flex;

}
#search {
    height: 3em;
    width: 80vh;

    border-radius: 2vh;
    outline: 0;
    border: 0;

    padding: 1em;
    box-sizing: border-box;

    background: #1b1b1b;
}

#search:focus {
    border: 2px solid #FC405C;
}

#searchBtn:hover {
    cursor: pointer;
}

#searchBtn img {
    width: 1.8em;
    height: auto;
}

#searchBtn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: fit-content;

    background: none;
    outline: 0;
    border: 0;
}