@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.montserrat {
	font-family: 'Montserrat', sans-serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
}

:root {
	font-family: 'Montserrat', sans-serif;
	background-color: #242424;
	color: white;
}

html,
body,
#root {
	height: 100%;
	width: 100%;

	padding: 0;
	margin: 0;
}

body {
	font-family: 'Montserrat', sans-serif;

	font-size: 1.1rem;
}

@media only screen and (max-width: 768px) {
	body {
		font-size: 0.8rem;
	}
}
